.content {
  width: calc(100% - 32px);
  max-width: 630px;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
}

.post {
  width: 100%;
  margin: 0 auto;
  display: block;
  border-width: 0;
  background-color: #4486e3;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  line-height: 20px;
  text-align: center;
  margin-top: 16px;
}

#season,
#regulation,
#url,
#name,
#rule {
  height: 32px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  padding: 0px 5px;
}

#ranking {
  height: 32px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  padding: 0px 5px;
}

.season,
.regulation,
.ranking,
.url,
.name,
.rule {
  margin-bottom: 8px;
}

#file-input {
  margin-bottom: 16px;
}

.red-background {
  background-color: #ff7a7a;
}

.suggestions {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow-y: auto;
}

.suggestion {
  padding: 8px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #007fff;
  color: #fff;
}

.content img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.party_img {
  margin: 16px 0px;
}

#party_form {
  max-width: 448px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 8px;
}

.poke_input,
.tool_input,
.teras_input {
  border-width: 0;
  outline: none;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  font-size: 14px;
  padding: 0px 5px;
}

.poke_input::placeholder,
.tool_input::placeholder,
.teras_input::placeholder {
  color: #aaa;
}

.poke_input {
  border: 1px solid #ccc;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  flex: 1;
}

.tool_input {
  border: 1px solid #ccc;
  border-right: none;
  flex: 1;
}

.teras_input {
  border: 1px solid #ccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  flex: 1;
}

@media screen and (max-width: 500px) {
  .poke_input {
      border-right: 1px solid #ccc;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 0px;
      flex: initial;
  }

  .tool_input {
      border-top: none;
      border-bottom-left-radius: 5px;
  }

  .teras_input {
      border-top: none;
      border-top-right-radius: 0px;
  }
}

.ui-menu .ui-menu-item-wrapper {
  position: relative;
  padding: 8px 1em 8px .4em;
}

#file-input {
  cursor: pointer;
  font-size: 14px;
}

#file-input::file-selector-button {
  border: #ccc 1px solid;
  padding: 0px 8px;
  height: 32px;
  line-height: 30px;
  border-radius: 5px;
  cursor: pointer;
}