body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #f2f2f2 url("pattern.svg");
  color: #040000;
}

a {
  text-decoration: none;
  color: inherit;
}

#top {
  height: 60px;
  background-color: #fff4e6;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
}

header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 720px;
  margin: 0 auto;
}

#header-img {
  height: 38px;
  width: auto;
  margin-left: 5px;
}

#search-bar {
  margin-right: 10px;
}

#search-input {
  width: 160px;
  height: 35px;
  padding-left: 10px;
  outline: none;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#search-icon {
  height: 37px;
  width: 37px;
  border: none;
  background-color: #febd69;
  color: #000;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -5px;
}

@media screen and (max-width: 570px) {
  #top {
    height: 115px;
  }

  header {
    flex-direction: column;
  }

  #header-img {
    margin-top: 15px;
  }

  #search-input {
    width: 200px;
  }

  #search-bar {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-right: 0px;
  }
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  margin: 0 auto;
  max-width: 720px;
  padding: 0px 16px;
  margin-bottom: 32px;
}

.content {
  width: calc(100% - 32px);
}

.center-content {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 32px;
}

@media screen and (min-width: 700px) {
  .left-content {
    margin-left: 0px;
    margin-right: 8px;
    width: calc((100% - 16px) / 2);
  }

  .right-content {
    margin-right: 0px;
    margin-left: 8px;
    width: calc((100% - 16px) / 2);
  }
}

@media screen and (max-width: 699px){
  .left-content,
  .right-content {
    width: 100%;
  }
}

h2 {
  margin-top: 16px;
  margin-bottom: 0px;
  color: #000;
}

.package {
  background-color: #fff;
}

.text-links {
  list-style: none;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

.text-links li {
  padding: 16px;
}

.post {
  background-color: #4285f4;
  margin-top: 16px;
  padding: 10px;
  border-radius: 5px;
  color: #FFF;
  border: none;
  font-size: 16px;
}

.pokemon-box-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 11px 11px;
}

.pokemon-box {
  display: flex;
  align-items: center;
  background-color: rgba(177, 177, 177, 0.16);
  margin: 5px;
  border-radius: 5px;
  width: calc(100% / 2 - 10px);
  font-size: 12px;
}

@media screen and (min-width: 495px) {
  .pokemon-box {
    width: calc(100% / 3 - 10px);
  }
}

.pokemon2 {
  width: 45px;
  height: auto;
}

.link-container {
  padding: 0px 16px;
}

.link {
  padding: 16px 0px;
}

.item-container {
  position: relative;
  flex-grow: 0;
  margin: -10px 0px 10px -5px;
}

.pokemon {
  width: 50px;
  height: auto;
}

.item {
  width: 25px;
  height: auto;
  position: absolute;
  bottom: 0px;
  left: 55%;
}

.set {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  width: 100%;
}

.form-link {
  border-radius: 5px;
  background-color: rgba(177, 177, 177, 0.16);
  padding: 10px;
  border: none;
  margin: 16px;
  margin-left: 0px;
  font-size: 16px;
}

.page_container {
  display: flex;
}

#under {
  text-decoration: underline;
}

.title {
  text-decoration: none;
  color: inherit;
}

.title:hover {
  font-weight: bold;
}

#sort_container {
  display: flex;
}

#link {
  color: #007fff;
  word-wrap: break-word;
}

.message {
  margin: 10px;
}

.youtube {
  width: 22px;
  height: auto;
  position: relative;
  top: 1px;
  left: 4px;
}

#bottom {
  height: 60px;
  background-color: #232f3e;
}

footer {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  color: #FFF;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

#banner-img {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.red-background {
  background-color: #ff7a7a;
}

.suggestions {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow-y: auto;
}

.suggestion {
  padding: 8px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #007fff;
  color: #fff;
}

.content img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.party_img {
  margin: 5px 0px;
}

