<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
    <title>構築まとめ屋。</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/destyle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animation.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='js/autocomplete_poke.js') }}"></script>
    <script src="{{ url_for('static', filename='js/autocomplete_item.js') }}"></script>
    <script src="{{ url_for('static', filename='js/autocomplete_tera.js') }}"></script>
</head>

<body>
    <div id="overlay"></div>
    <svg id="loading-overlay" class="spinner" width="65px" height="65px" viewBox="0 0 66 66"
        xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
    <div class="overlay"></div>
    <div id="top">
        <header>
            <a href="index.php">
                <img src="{{ url_for('static', filename='img/flat.png') }}" id="header-img">
            </a>
            <button id="menuButton"><i class="fas fa-bars"></i></button>
        </header>
    </div>
    <div id="hamburgerMenu">
        <span id="closeButton">×</span>
        <form action="search.php" method="get">
            <div class="rule-container" style="margin-left: 16px;">
                <input type='checkbox' name='rule[]' value='single' id='single' style='margin-bottom: 4px;'>
                <label for='single' style='margin-bottom: 2px; margin-left: 2px;'>シングル</label>
                <input type='checkbox' name='rule[]' value='double' id='double'
                    style='margin-bottom: 4px; margin-left: 16px;'>
                <label for='double' style='margin-bottom: 2px; margin-left: 2px;'>ダブル</label>
            </div>
            <div id="search-bar">
                <input type="search" id="search-input" class="pokemon_input" name="pokemon0" autocomplete="off"
                    placeholder="ポケモン名で検索">
                <button type="submit" id="search-icon">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </form>
        <div class="menu-box">
            <h3>記事検索</h3>
            <ul>
                <li>
                    <a href="search.php">
                        <span class="chevron-right">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>詳細検索はこちら</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu-box">
            <h3>構築投稿フォーム</h3>
            <ul>
                <li>
                    <a href="#">
                        <span class="chevron-right">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>ランクバトルの構築を投稿</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-item">
                        <span class="chevron-right">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>その他の構築を投稿</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu-box">
            <h3>シングル記事</h3>
            <ul>
                <li>
                    <a href="#">
                        <span class="chevron-right">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>SVシーズン13シングル上位記事</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="chevron-right">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>SVシーズン12シングル上位記事</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="chevron-right">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>SVシーズン11シングル上位記事</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu-box">
            <h3>ダブル記事</h3>
            <ul>
                <li>
                    <a href="#">
                        <span class="chevron-right">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>SVシーズン13ダブル上位記事</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="chevron-right">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>SVシーズン12ダブル上位記事</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="chevron-right">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>SVシーズン11ダブル上位記事</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu-box">
            <h3>問い合わせ</h3>
            <ul>
                <li>
                    <a href="inquiry.php">
                        <span class="chevron-right">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>こちらから</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="content">
        <ul>
            <li style="margin-bottom: 16px;">このページでは各シーズンの構築記事を投稿できます。シーズン途中の構築やランクバトル以外の構築は「その他のフォーム」から投稿してください。</li>
            <li style="margin-bottom: 16px;">レンタル画像からポケモン名などを自動で読み取れます。こちらを利用して可能な限り多くの項目に入力していただけると助かります。</li>
        </ul>

        <form method="post" enctype="multipart/form-data" id="upload-form">
            <input type="file" name="file" accept=".png, .jpg, .jpeg" id="file-input">
        </form>

        <div style="color: red; margin-bottom: 16px;">*は必須項目です。</div>
        <form id="party_form" action="https://matomeyapoke.com/php/database/save_to_database.php" method="post">
            <input type="text" id="approval" name="approval" style="display: none;" value="false">
            
            <div class="rule">
                <label for="rule">ルール<span style="color: red;">*</span></label>
                <select name="rule" id="rule">
                    <option value="">-----</option>
                    <option value="single">シングル</option>
                    <option value="double">ダブル</option>
                </select>
            </div>

            <div class="season">
                <label for="season">シーズン<span style="color: red;">*</span></label>
                <select name="season" id="season">
                    <option value="">-----</option>
                    <script src="{{ url_for('static', filename='js/season.js') }}"></script>
                </select>
            </div>

            <div class="url">
                <label for="url">記事URL<span style="color: red;">*</span></label>
                <input type="text" id="url" name="url" autocomplete="off">
            </div>

            <div class="name">
                <label for="name">制作者名<span style="color: red;">*</span><span id="name_x"></span></label>
                <input type="text" id="name" name="name" autocomplete="off">
            </div>

            <div class="ranking">
                <label for="rank">最終順位<span style="color: red;">*</span></label><br>
                <input type="text" id="ranking" name="rank" autocomplete="off">
                <label>位</label>
            </div>

            <div id="pokemon-input-content"></div>
            <script src="{{ url_for('static', filename='js/pokemon_input.js') }}"></script>
            <input type="submit" value="構築を投稿する" class="post">

        </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>