<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ダブル構築まとめ屋さん。</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='autocomplete_poke.js') }}"></script>
    <script src="{{ url_for('static', filename='autocomplete_item.js') }}"></script>
    <script src="{{ url_for('static', filename='autocomplete_tera.js') }}"></script>
</head>

<body>
    <header>
        <h1>構築まとめ屋さん。</h1>
        <div id="search-bar">
            <input type="text" id="search-input" placeholder="検索">
            <button type="submit" id="search-icon">
                <i class="fas fa-search fa-fw"></i>
            </button>
        </div>
    </header>

    <div class="tart">
        <h2>構築収集フォーム</h2>
        <div class="package">
            <div id="form">
                <p>必須項目はルールと記事URLのみですが、可能な限り入力していただけると助かります。</p>

                <p>レンタル画像からポケモン名と持ち物を自動で読み取れます。精度は低いため適宜調整してください。</p>
                <p>
                <form method="post" enctype="multipart/form-data" id="upload-form">
                    <input type="file" name="file" accept=".png, .jpg, .jpeg" id="file-input">
                </form>
                </p>
                <form action="https://amemiyapoke.lolitapunk.jp/test/html/save_to_database.php" method="post">
                    <input type="text" id="approval" name="approval" style="display: none;" value="false">
                    <label for="url">ルール：</label>
                    <label><input type="checkbox" name="tag1" class="check" value="single">シングル</label>
                    <label><input type="checkbox" name="tag1" class="check" value="double" id="double">ダブル</label><br>
                    <label for="season">シーズン：</label>
                    <select name="season" id="season">
                        <option value="">-----</option>
                        <option value="season13">シーズン13</option>
                        <option value="season12">シーズン12</option>
                        <option value="season11">シーズン11</option>
                        <option value="season10">シーズン10</option>
                        <option value="season9">シーズン9</option>
                        <option value="season8">シーズン8</option>
                        <option value="season7">シーズン7</option>
                        <option value="season6">シーズン6</option>
                        <option value="season5">シーズン5</option>
                        <option value="season4">シーズン4</option>
                        <option value="season3">シーズン3</option>
                        <option value="season2">シーズン2</option>
                        <option value="season1">シーズン1</option>
                    </select><br>
                    <label for="url">記事URL：</label>
                    <input type="text" id="url" name="url" autocomplete="off"><br>
                    <label for="name">制作者名：</label>
                    <input type="text" id="name" name="name" autocomplete="off"><br>
                    <label for="rank">最終順位：</label>
                    <input type="number" id="rank" name="rank" autocomplete="off">
                    <label>位</label><br>
                    <script>
                        for (let i = 1; i <= 6; i++) {
                            document.write(`
                        <label for="pokemon${i}">ポケモン${i}：</label>
                        <input type="search" id="pokemon${i}" name="pokemon${i}" autocomplete="off" ${(i === 1) ? 'placeholder="ポケモン名"' : ''}><br>
                        <label style="visibility: hidden;">ポケモン${i}：</label>
                        <input type="search" id="item${i}" name="item${i}" autocomplete="off" ${(i === 1) ? 'placeholder="もちもの"' : ''}><br>
                        <label style="visibility: hidden;">ポケモン${i}：</label>
                        <input type="search" id="tera${i}" name="tera${i}" autocomplete="off" ${(i === 1) ? 'placeholder="テラスタル"' : ''}><br>
                      `);
                        }
                    </script>
                    <input type="submit" value="送信" class="botan">
                </form>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('file-input').addEventListener('change', function () {
            document.getElementById('upload-form').submit();
        });
    </script>
</body>

</html>